@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010314;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Stars Animation */
.bg-stars {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4e/Stars_Bg.png');
  background-size: cover;
  animation: moveStars 60s linear infinite;
  z-index: 0;
}

@keyframes moveStars {
  0% { background-position: 0 0; }
  100% { background-position: 10000px 5000px; }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}
